.intro {
	padding: 3px 15px;
}
.intro a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
.bottom {
	text-align: center;
}
.more-popup {
	border: 1px solid #8bf;
	background: white;
	width: 250px;
	left: 400px;
	position: absolute;
	display: none;
}
.icon-picture {
	cursor: pointer;
}
.contact-type {
	color: black;
}
.contact-address {
	list-style-type: none;
	margin: 0;
	overflow: auto;
}
.contact-address li {
	float: left;
	margin-right: 6px;
}
h3.folio {
	margin: 0;
}
.clear {
	clear: both;
}
li hr {
	margin: 8px 0;
}